flows/Add_Cancelation_Fee_to_Order.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Order_Fulfillment</name>
        <label>Set Order Fulfillment</label>
        <locationX>637</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>sFulfillment.Fulfillment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillment.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.CC_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillment.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillment.CC_Transaction_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTransactionPayment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFulfillment.CC_Transaction_Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTransactionPayment.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fulfillment_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Fulfillment_Item</name>
        <label>Set Order Fulfillment Item</label>
        <locationX>936</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Fulfillment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sFulfillment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.SKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CancellationFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.ILT_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sILTClass.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sTrainingEvent.CC_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sFullfillmentItem.CC_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOrderItem.ccrz__Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fulfillment_Item</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CancellationFee</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation Fee</stringValue>
        </value>
    </constants>
    <constants>
        <name>cInventoryType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FEE</stringValue>
        </value>
    </constants>
    <constants>
        <name>FiftyPercent</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.5</numberValue>
        </value>
    </constants>
    <constants>
        <name>OneHundred</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>TenPercent</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.1</numberValue>
        </value>
    </constants>
    <constants>
        <name>TwentyFive</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.25</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Cancellation_Fee_Needed</name>
        <label>Is Cancellation Fee Needed</label>
        <locationX>534</locationX>
        <locationY>60</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Less_than_12_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessDays</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Order_Item</targetReference>
            </connector>
            <label>Less than 12 Days</label>
        </rules>
    </decisions>
    <description>From the Training Event add a cancelation fee to the order when job is canceled - Added transaction Payment</description>
    <formulas>
        <name>AdjustedCancelFee</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Flow.CurrentDate}&gt;={!sTrainingEvent.Start_Date__c},{!sOrderItem.ccrz__SubAmount__c},{!CancelFeeAdjustment} * {!sOrderItem.ccrz__SubAmount__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Number of Business Days from  Start of Clsass</description>
        <name>BusinessDays</name>
        <dataType>Number</dataType>
        <expression>CASE(MOD( {!$Flow.CurrentDate} - DATE(1985,6,24),7), 

  0 , CASE( MOD( {!sTrainingEvent.Start_Date__c} - {!$Flow.CurrentDate}+1 ,7),1,2,2,3,3,4,4,5,5,5,6,5,1), 
  1 , CASE( MOD( {!sTrainingEvent.Start_Date__c} - {!$Flow.CurrentDate}+1 ,7),1,2,2,3,3,4,4,4,5,4,6,5,1), 
  2 , CASE( MOD( {!sTrainingEvent.Start_Date__c} - {!$Flow.CurrentDate}+1 ,7),1,2,2,3,3,3,4,3,5,4,6,5,1), 
  3 , CASE( MOD({!sTrainingEvent.Start_Date__c} - {!$Flow.CurrentDate}+1 ,7),1,2,2,2,3,2,4,3,5,4,6,5,1), 
  4 , CASE( MOD( {!sTrainingEvent.Start_Date__c} - {!$Flow.CurrentDate}+1 ,7),1,1,2,1,3,2,4,3,5,4,6,5,1), 
  5 , CASE( MOD( {!sTrainingEvent.Start_Date__c} - {!$Flow.CurrentDate}+1 ,7),1,0,2,1,3,2,4,3,5,4,6,5,0), 
  6 , CASE( MOD({!sTrainingEvent.Start_Date__c} - {!$Flow.CurrentDate}+1 ,7),1,1,2,2,3,3,4,4,5,5,6,5,0), 
  999) 
  + 
  (FLOOR(( {!sTrainingEvent.Start_Date__c} - {!$Flow.CurrentDate}+1 )/7)*5)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CancelFeeAdjustment</name>
        <dataType>Number</dataType>
        <expression>CASE({!BusinessDays},
0,{!OneHundred},
1,{!OneHundred},
2,{!FiftyPercent},
3,{!FiftyPercent},
4,{!FiftyPercent},
5,{!TwentyFive},
6,{!TwentyFive}, 
7,{!TenPercent},
8,{!TenPercent},
9,{!TenPercent},
10,{!TenPercent},
11,{!TenPercent},
{!OneHundred})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ClassQty</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!sTrainingEvent.Number_in_Class__c}), 1, {!sTrainingEvent.Number_in_Class__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Add Cancelation Fee to Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Cancelation Fee to Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Fee_to_Order_Item</name>
        <label>Add Fee to Order Item</label>
        <locationX>494</locationX>
        <locationY>315</locationY>
        <connector>
            <targetReference>Set_Order_Fulfillment</targetReference>
        </connector>
        <inputAssignments>
            <field>ILT_Class__c</field>
            <value>
                <elementReference>sILTClass.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Category__c</field>
            <value>
                <stringValue>48160</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderItemStatus__c</field>
            <value>
                <stringValue>Shipped</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderLineType__c</field>
            <value>
                <stringValue>Minor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Order__c</field>
            <value>
                <elementReference>sTrainingEvent.CC_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OriginalItemPrice__c</field>
            <value>
                <elementReference>AdjustedCancelFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OriginalQuantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ParentOrderItem__c</field>
            <value>
                <elementReference>sOrderItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Price__c</field>
            <value>
                <elementReference>AdjustedCancelFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ProductType__c</field>
            <value>
                <elementReference>cInventoryType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Product__c</field>
            <value>
                <elementReference>sProduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__SubAmount__c</field>
            <value>
                <elementReference>AdjustedCancelFee</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_OrderItem__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Fulfillment_Item</name>
        <label>Create Fulfillment Item</label>
        <locationX>1098</locationX>
        <locationY>302</locationY>
        <inputReference>sFullfillmentItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Fulfillment_Order</name>
        <label>Create Fulfillment Order</label>
        <locationX>791</locationX>
        <locationY>303</locationY>
        <connector>
            <targetReference>Set_Order_Fulfillment_Item</targetReference>
        </connector>
        <inputReference>sFulfillment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cancelation_Fee_Product_ID</name>
        <label>Get Cancelation Fee Product ID</label>
        <locationX>335</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ILT_Class</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CancellationFee</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Product__c</object>
        <outputReference>sProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ILT_Class</name>
        <label>Get ILT Class</label>
        <locationX>334</locationX>
        <locationY>466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transaction_Payment</targetReference>
        </connector>
        <filters>
            <field>Skedulo_Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTrainingEvent.Id</elementReference>
            </value>
        </filters>
        <object>redwing__ILT_Class__c</object>
        <outputReference>sILTClass</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Offering_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Payment</name>
        <label>Get Transaction Payment</label>
        <locationX>496</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Fee_to_Order_Item</targetReference>
        </connector>
        <filters>
            <field>ccrz__CCOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTrainingEvent.CC_Order__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_TransactionPayment__c</object>
        <outputReference>sTransactionPayment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Order_Item</name>
        <label>Lookup Order Item</label>
        <locationX>336</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cancelation_Fee_Product_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sTrainingEvent.CC_Order_Item__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_OrderItem__c</object>
        <outputReference>sOrderItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ccrz__Order__c</queriedFields>
        <queriedFields>ccrz__OrderItemId__c</queriedFields>
        <queriedFields>ccrz__OrderLineType__c</queriedFields>
        <queriedFields>ccrz__OriginalItemPrice__c</queriedFields>
        <queriedFields>ccrz__OriginalQuantity__c</queriedFields>
        <queriedFields>ccrz__Product__c</queriedFields>
        <queriedFields>ccrz__Price__c</queriedFields>
        <queriedFields>ccrz__Product_Name__c</queriedFields>
        <queriedFields>ccrz__Quantity__c</queriedFields>
        <queriedFields>ccrz__UnitOfMeasure__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>ccrz__ExtSKU__c</queriedFields>
        <queriedFields>ccrz__SubAmount__c</queriedFields>
        <queriedFields>ILT_Class__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Training_Event</name>
        <label>Lookup Training Event</label>
        <locationX>341</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Cancellation_Fee_Needed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmTrainingEvent</elementReference>
            </value>
        </filters>
        <object>Training_Events__c</object>
        <outputReference>sTrainingEvent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CC_Order_Item__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>CC_Order__c</queriedFields>
        <queriedFields>Number_in_Class__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Cancellation_Fee_Notes</name>
        <label>Cancellation Fee Notes</label>
        <locationX>180</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Training_Event</targetReference>
        </connector>
        <fields>
            <name>CancellationFeeHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Cancellation Fee&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;This process will add a cancellation fee to the order assocatated to the Order and Order Line. It will automatically calculate the fee based on Red Cross policies.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Cancellation_Fee_Notes</startElementReference>
    <status>Active</status>
    <variables>
        <name>colOrderShipmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderShipmentItem__c</objectType>
    </variables>
    <variables>
        <name>colProductPrice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceListItem__c</objectType>
    </variables>
    <variables>
        <name>frmTrainingEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>One</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sFee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_PriceListItem__c</objectType>
    </variables>
    <variables>
        <name>sFulfillment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fulfillment__c</objectType>
    </variables>
    <variables>
        <name>sFullfillmentItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Fulfillment_Item__c</objectType>
    </variables>
    <variables>
        <name>sILTClass</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>redwing__ILT_Class__c</objectType>
    </variables>
    <variables>
        <name>sOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <name>sProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
    <variables>
        <name>sTrainingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Training_Events__c</objectType>
    </variables>
    <variables>
        <name>sTransactionPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_TransactionPayment__c</objectType>
    </variables>
</Flow>
