flows/Create_Account_When_Missing_on_Contact.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Create_New_Account</name>
        <label>Create New Account</label>
        <locationX>503</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>AccountToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToCreate.New_TSC_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_The_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_the_Contact_to_Account</name>
        <label>Link the Contact to Account</label>
        <locationX>317</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>NewContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Contact</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual_Account</stringValue>
        </value>
    </constants>
    <formulas>
        <name>NewAccountName</name>
        <dataType>String</dataType>
        <expression>&quot;The &quot; + {!NewContact.LastName} + &quot; Household&quot;</expression>
    </formulas>
    <label>Create Account When Missing on Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Save_The_Account</name>
        <label>Save The Account</label>
        <locationX>316</locationX>
        <locationY>267</locationY>
        <connector>
            <targetReference>Link_the_Contact_to_Account</targetReference>
        </connector>
        <inputReference>AccountToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record_Types</name>
        <label>Get Account Record Types</label>
        <locationX>486</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Account</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>sRecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Grab_the_New_Contact</name>
        <label>Grab the New Contact</label>
        <locationX>317</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Record_Types</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>NewContact</outputReference>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Contact</name>
        <label>Update the Contact</label>
        <locationX>314</locationX>
        <locationY>471</locationY>
        <inputReference>NewContact</inputReference>
    </recordUpdates>
    <startElementReference>Grab_the_New_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>The ID of the new contact</description>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Contact record without the Account</description>
        <name>NewContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>TSCConcact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>TSCContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TSCContactID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
