flows/Process_On_Hold_Orders.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Output_Collection</name>
        <label>Add to Output Collection</label>
        <locationX>151</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>colOutOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOrders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_On_Hold_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Status</name>
        <label>Set Order Status</label>
        <locationX>344</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>sOrders.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reprocess</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Output_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Process On Hold Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process On Hold Orders</label>
    <loops>
        <name>Process_On_Hold_Orders</name>
        <label>Process On Hold Orders</label>
        <locationX>247</locationX>
        <locationY>189</locationY>
        <assignNextValueToReference>sOrders</assignNextValueToReference>
        <collectionReference>colOrder</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Order_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Change_All_On_Hold_Records_to_Submitted</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_On_Hold_Orders</name>
        <label>Get Account On Hold Orders</label>
        <locationX>247</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_On_Hold_Orders</targetReference>
        </connector>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__OrderStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <object>ccrz__E_Order__c</object>
        <outputReference>colOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Change_All_On_Hold_Records_to_Submitted</name>
        <label>Change All On Hold Records to Submitted</label>
        <locationX>474</locationX>
        <locationY>186</locationY>
        <inputReference>colOutOrder</inputReference>
    </recordUpdates>
    <startElementReference>Get_Account_On_Hold_Orders</startElementReference>
    <status>Active</status>
    <variables>
        <name>colOrder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>colOutOrder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
    <variables>
        <name>frmAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sOrders</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_Order__c</objectType>
    </variables>
</Flow>
