flows/Revoke_Grant.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Error Reporting</description>
        <name>Error_to_Report</name>
        <label>Error to Report</label>
        <locationX>583</locationX>
        <locationY>44</locationY>
        <actionName>Donothing</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>Update_Credit_Balance</name>
        <label>Update Credit Balance</label>
        <locationX>411</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>sCreditBalance.Remaining_PO_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCCStoredPaymentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sCreditBalance.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Revoke_Credit_Balance</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Name of Product</description>
        <name>cProductName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Grant</stringValue>
        </value>
    </constants>
    <constants>
        <description>Used to define for Cloud Craze type of Stored Payment Record</description>
        <name>cType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>cb</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Credit Balance Check</description>
        <name>Is_there_Credit_Balance</name>
        <label>Is there Credit Balance</label>
        <locationX>420</locationX>
        <locationY>23</locationY>
        <defaultConnector>
            <targetReference>Error_to_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CB_Grant_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fCreditAmount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sCreditBalance.Remaining_PO_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Credit_Balance</targetReference>
            </connector>
            <label>CB = Grant Amount</label>
        </rules>
    </decisions>
    <description>Revokes the Grant after it has been issued</description>
    <formulas>
        <description>Grant Amount converted to Negative for Credit</description>
        <name>fCreditAmount</name>
        <dataType>Currency</dataType>
        <expression>{!sGrantClaim.Amount__c} *-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Calculates an End Date of the Stored Payment</description>
        <name>fEndDate</name>
        <dataType>Date</dataType>
        <expression>{!sGrantClaim.Approved_Date__c} + 365</expression>
    </formulas>
    <formulas>
        <description>Name of Grant</description>
        <name>fGrantName</name>
        <dataType>String</dataType>
        <expression>&quot;Grant-&quot;+{!sGrantClaim.Claim_ID__c}+&quot;-&quot;+ TEXT({!sGrantClaim.Approved_Date__c} )</expression>
    </formulas>
    <formulas>
        <description>Today&apos;s Date</description>
        <name>fToday</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Revoke Grant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revoke Grant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Item to record grant</description>
        <name>Create_CC_Credit_Items</name>
        <label>Create CC Credit Items</label>
        <locationX>720</locationX>
        <locationY>491</locationY>
        <connector>
            <targetReference>Create_Transaction_Payment_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Inventory_Type__c</field>
            <value>
                <elementReference>sCCProduct.ccrz__InventoryType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderItemStatus__c</field>
            <value>
                <stringValue>Returned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderLineType__c</field>
            <value>
                <stringValue>Major</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Order__c</field>
            <value>
                <elementReference>iOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OriginalItemPrice__c</field>
            <value>
                <elementReference>fCreditAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OriginalQuantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Price__c</field>
            <value>
                <elementReference>fCreditAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__PricingType__c</field>
            <value>
                <stringValue>external</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__ProductType__c</field>
            <value>
                <elementReference>sCCProduct.ccrz__ProductType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Product__c</field>
            <value>
                <elementReference>sCCProduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__SubAmount__c</field>
            <value>
                <elementReference>fCreditAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__UnitOfMeasure__c</field>
            <value>
                <elementReference>sCCProduct.ccrz__UnitOfMeasure__c</elementReference>
            </value>
        </inputAssignments>
        <object>ccrz__E_OrderItem__c</object>
    </recordCreates>
    <recordCreates>
        <description>Creates a Credit Header to record the Grant</description>
        <name>Create_Credit</name>
        <label>Create Credit</label>
        <locationX>570</locationX>
        <locationY>493</locationY>
        <assignRecordIdToReference>iOrder</assignRecordIdToReference>
        <connector>
            <targetReference>Create_CC_Credit_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>ccrz__Account__c</field>
            <value>
                <elementReference>sGrantClaim.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__CurrencyISOCode__c</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Name__c</field>
            <value>
                <elementReference>sGrantClaim.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderDate__c</field>
            <value>
                <elementReference>fToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__OrderStatus__c</field>
            <value>
                <stringValue>Return Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__PONumber__c</field>
            <value>
                <elementReference>fGrantName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__PaymentMethod__c</field>
            <value>
                <stringValue>Grant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Storefront__c</field>
            <value>
                <stringValue>GeneralStore</stringValue>
            </value>
        </inputAssignments>
        <object>ccrz__E_Order__c</object>
    </recordCreates>
    <recordCreates>
        <description>Create Credit Payment Value</description>
        <name>Create_Transaction_Payment_Record</name>
        <label>Create Transaction Payment Record</label>
        <locationX>890</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Update_Grant_Claim</targetReference>
        </connector>
        <inputAssignments>
            <field>ccrz__AccountType__c</field>
            <value>
                <stringValue>cb</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Account__c</field>
            <value>
                <elementReference>sGrantClaim.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Amount__c</field>
            <value>
                <elementReference>fCreditAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__CCOrder__c</field>
            <value>
                <elementReference>iOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Comments__c</field>
            <value>
                <elementReference>sGrantClaim.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__CurrencyISOCode__c</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__StoredPayment__c</field>
            <value>
                <elementReference>vCCStoredPaymentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__Storefront__c</field>
            <value>
                <stringValue>GeneralStore</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ccrz__TransactionType__c</field>
            <value>
                <stringValue>cb</stringValue>
            </value>
        </inputAssignments>
        <object>ccrz__E_TransactionPayment__c</object>
    </recordCreates>
    <recordLookups>
        <description>Get issue Credit Balance</description>
        <name>Get_Credit_Balance_Records</name>
        <label>Get Credit Balance Records</label>
        <locationX>296</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_Credit_Balance</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sGrantClaim.CC_Stored_Payment__c</elementReference>
            </value>
        </filters>
        <object>ccrz__E_StoredPayment__c</object>
        <outputReference>sCreditBalance</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ccrz__Account__c</queriedFields>
        <queriedFields>Remaining_PO_Amount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the newly approved Grant Claim</description>
        <name>Get_Grant_Claim</name>
        <label>Get Grant Claim</label>
        <locationX>179</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Credit_Balance_Records</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmGrantClaim</elementReference>
            </value>
        </filters>
        <object>SFDC_MDF_Claim__c</object>
        <outputReference>sGrantClaim</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Approved_Date__c</queriedFields>
        <queriedFields>CC_Stored_Payment__c</queriedFields>
        <queriedFields>Claim_Paid_Date__c</queriedFields>
        <queriedFields>Payment_Method__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Budget__c</queriedFields>
        <queriedFields>Claim_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Record</name>
        <label>Get Product Record</label>
        <locationX>413</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Credit</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cProductName</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>ccrz__ProductStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Released</stringValue>
            </value>
        </filters>
        <filters>
            <field>ccrz__StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fToday</elementReference>
            </value>
        </filters>
        <object>ccrz__E_Product__c</object>
        <outputReference>sCCProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AP_Code__c</queriedFields>
        <queriedFields>CC_Category__c</queriedFields>
        <queriedFields>ccrz__InventoryType__c</queriedFields>
        <queriedFields>ccrz__ProductId__c</queriedFields>
        <queriedFields>ccrz__ProductType__c</queriedFields>
        <queriedFields>ccrz__SKU__c</queriedFields>
        <queriedFields>ccrz__UnitOfMeasure__c</queriedFields>
        <queriedFields>FCC__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Removes available Credit Balance</description>
        <name>Revoke_Credit_Balance</name>
        <label>Revoke Credit Balance</label>
        <locationX>412</locationX>
        <locationY>326</locationY>
        <connector>
            <targetReference>Get_Product_Record</targetReference>
        </connector>
        <inputReference>sCreditBalance</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Grant Claim after CC Stored Payment is written</description>
        <name>Update_Grant_Claim</name>
        <label>Update Grant Claim</label>
        <locationX>1065</locationX>
        <locationY>490</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmGrantClaim</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_Order__c</field>
            <value>
                <elementReference>iOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_Stored_Payment__c</field>
            <value>
                <elementReference>vCCStoredPaymentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim_Paid_Date__c</field>
            <value>
                <elementReference>fToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Credit Memo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>SFDC_MDF_Claim__c</object>
    </recordUpdates>
    <startElementReference>Get_Grant_Claim</startElementReference>
    <status>Active</status>
    <variables>
        <name>frmGrantClaim</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>CC Order ID</description>
        <name>iOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Product Information used for Credit Item</description>
        <name>sCCProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_Product__c</objectType>
    </variables>
    <variables>
        <name>sCreditBalance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ccrz__E_StoredPayment__c</objectType>
    </variables>
    <variables>
        <description>Grant Claim Record</description>
        <name>sGrantClaim</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SFDC_MDF_Claim__c</objectType>
    </variables>
    <variables>
        <name>sOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ccrz__E_OrderItem__c</objectType>
    </variables>
    <variables>
        <description>Newly Created Stored Payment ID</description>
        <name>vCCStoredPaymentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
