flows/Revoke_Issued_Grant.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Status_to_Revoke</name>
        <label>Set Status to Revoke</label>
        <locationX>532</locationX>
        <locationY>172</locationY>
        <assignmentItems>
            <assignToReference>sGrantClaim.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revoke</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Text Blank Value</description>
        <name>cBlank</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Previously_Rejected</name>
        <label>Previously Rejected</label>
        <locationX>423</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>Set_Status_to_Revoke</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsRejected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sGrantClaim.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sGrantClaim.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revoke</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreviouslyRejected</targetReference>
            </connector>
            <label>IsRejected</label>
        </rules>
        <rules>
            <name>IsPaid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sGrantClaim.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revoke_Grant_Claim</targetReference>
            </connector>
            <label>IsPaid</label>
        </rules>
    </decisions>
    <description>Revoke a grant previously issued and approved</description>
    <formulas>
        <description>Converts to amount to negative</description>
        <name>fAmount</name>
        <dataType>Currency</dataType>
        <expression>{!sGrantClaim.Amount__c} * -1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Formula to create the Claim Name</description>
        <name>fClaimName</name>
        <dataType>String</dataType>
        <expression>&quot;Revoke-&quot; &amp; {!sGrantClaim.Name}</expression>
    </formulas>
    <interviewLabel>Revoke Issued Grant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revoke Issued Grant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Revoke_Grant_Claim</name>
        <label>Revoke Grant Claim</label>
        <locationX>659</locationX>
        <locationY>44</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>sGrantClaim.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>fAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Budget__c</field>
            <value>
                <elementReference>sGrantClaim.Budget__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CC_Stored_Payment__c</field>
            <value>
                <elementReference>sGrantClaim.CC_Stored_Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim_Details__c</field>
            <value>
                <elementReference>Reason_for_revoking_claim</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fund_Request__c</field>
            <value>
                <elementReference>sGrantClaim.Fund_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fClaimName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Revoke</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Revoke</stringValue>
            </value>
        </inputAssignments>
        <object>SFDC_MDF_Claim__c</object>
    </recordCreates>
    <recordLookups>
        <description>Get Grant Claim to Revoke</description>
        <name>Get_Grant_Claim</name>
        <label>Get Grant Claim</label>
        <locationX>166</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Revoke_Claim</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmGrantClaim</elementReference>
            </value>
        </filters>
        <object>SFDC_MDF_Claim__c</object>
        <outputReference>sGrantClaim</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <queriedFields>Budget__c</queriedFields>
        <queriedFields>CC_Stored_Payment__c</queriedFields>
        <queriedFields>Claim_Details__c</queriedFields>
        <queriedFields>Claim_ID__c</queriedFields>
        <queriedFields>Other_Expenditure_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Payment_Method__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Expenditure_Type__c</queriedFields>
        <queriedFields>Fund_Request__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>536</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>NotPaidRevoke</targetReference>
        </connector>
        <inputReference>sGrantClaim</inputReference>
    </recordUpdates>
    <screens>
        <name>NotPaidRevoke</name>
        <label>NotPaidRevoke</label>
        <locationX>533</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotPaidNote</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The Claim has been Revoked.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PreviouslyRejected</name>
        <label>PreviouslyRejected</label>
        <locationX>325</locationX>
        <locationY>225</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>IsRejectedNote</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Claim has previously been Rejected or Revoked&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Revoke issued grant</description>
        <name>Revoke_Claim</name>
        <label>Revoke Grant</label>
        <locationX>284</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Previously_Rejected</targetReference>
        </connector>
        <fields>
            <name>ClaimName</name>
            <fieldText>{!sGrantClaim.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClaimBudget</name>
            <fieldText>{!sGrantClaim.Budget__r.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClaimAmount</name>
            <fieldText>{!sGrantClaim.Amount__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status</name>
            <fieldText>&lt;p&gt;{!sGrantClaim.Status__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reason_for_revoking_claim</name>
            <dataType>String</dataType>
            <fieldText>Reason for revoking claim</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Grant_Claim</startElementReference>
    <status>Active</status>
    <variables>
        <name>frmGrantClaim</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Return Grant Claim for Flow Redirect</description>
        <name>retGrantClaim</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sGrantClaim</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SFDC_MDF_Claim__c</objectType>
    </variables>
</Flow>
